title = "home"
url = "/"
layout = "default"
is_hidden = 0

[session]
security = "all"
==
<div class="row">
	<div class="col l12 m12 s12">
		{% partial 'home/carousel' %}     
	</div>
</div>
    {% if user %}
        {% if can('seccion_noticias') %}
        {% elseif can('seccion_streaming')%}
        {% else %}
            <div class="row">
            	<div class="col l12 m12 s12">
                    {% partial 'home/alertaVerPlanes' %}
            	</div>
            </div>
        {% endif %}
    {% endif %}
{% partial 'home/secciones' %}