title = "Reiniciar Constraseña"
url = "/reiniciar-constrasena/:code?"
layout = "default"
is_hidden = 0

[resetPassword]
paramCode = "code?"
==
<div class="container" >

    <div class="section" >
        
    
        {% if not user %}

            <div class="row">
            
                <div class="wrap z-depth-2">
                    <div class="wrap-content">
        
                        <div class="col-md-6">
                        
                            <div id="partialUserResetForm">
                                {% if resetPassword.code == null %}
                                    {% partial resetPassword ~ '::restore' %}
                                {% else %}
                                    {% partial resetPassword ~ '::reset' %}
                                {% endif %}
                            </div>
        
                        </div>
                        
                    </div>
                </div>
   
            </div>
        
        {% else %}
        
            {% partial account ~ '::activation_check' %}
        
            {% partial account ~ '::update' %}
        
            {% partial account ~ '::deactivate_link' %}
        
        {% endif %}
    </div>
</div>