description = "Carrusel de imágenes en el home"
==
<div class="slider">
    <ul class="slides">
        <li>
            <img class="carrusel-img" src="{{ 'Homepage/carrusel/messi.jpg'|media }}" >
        </li> 
        <li>
            <img class="carrusel-img" src="{{ 'Homepage/carrusel/tom-brady-nfl.jpg'|media }}" >
        </li> 
        <li>
            <img class="carrusel-img" src="{{ 'Homepage/carrusel/Jose-Altuve.jpg'|media }}" >
        </li>
        <li>
            <img class="carrusel-img" src="{{ 'Homepage/carrusel/hockey.jpg'|media }}" >
        </li>
    </ul>
</div>