description = "Grupo de Secciones de acceso rápido en el home"
==
<div class="row">
	<div class="col s12 m4 l4">
		<div class="card horizontal  deep-purple lighten-5">
			<div class="card-image">
				<img style="width: 150px" src="{{ 'Homepage/secciones/partidos-online.png' | media }}">
			</div>
			<div class="card-stacked">
            	<span class="card-title"> Partidos Online</span>
				<div class="card-content">
					<p>Disfruta de todos los eventos deportivos en vivo: Beisbol, Fútbol, NHL, NFL y mucho más.</p>
				</div>
				<div class="card-action">
					<a  href="#"  class="waves-effect waves-light btn">Ver más</a>
				</div>
			</div>
		</div>
	</div> 
	<div class="col s12 m4 l4">
		<div class="card horizontal  deep-purple lighten-5">
			<div class="card-image">
				<img style="width: 150px" src="{{ 'Homepage/secciones/news.png' | media }}">
			</div>
			<div class="card-stacked">
            	<span class="card-title"> Noticias Deportivas</span>
				<div class="card-content">
					<p>Disfruta de todos los eventos deportivos en vivo: Beisbol, Fútbol, NHL, NFL y mucho más.</p>
				</div>
				<div class="card-action">
					<a href="{{ 'blog'|page }}"  class="waves-effect waves-light btn">Ver más</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12 m4 l4">
		<div class="card horizontal  deep-purple lighten-5">
			<div class="card-image">
				<img style="width: 150px" src="{{ 'Homepage/secciones/pronosticos-deportivos.png' | media }}">
			</div>
			<div class="card-stacked">
            	<span class="card-title"> Pronósticos Deportivos</span>
				<div class="card-content">
					<p>Accede a los mejores pronósticos para los juegos de las ligas más importantes del mundo.</p>
				</div>
				<div class="card-action">
					<a  href="#"  class="waves-effect waves-light btn">Ver más</a>
				</div>
			</div>
		</div>
	</div>
</div>