==
<footer class="page-footer deep-purple lighten-4">
	<div class="container ">
		<div class="row">
			<div class="col l6 s12"> 
			    <ul>
                  <li><a class="grey-text text-lighten-5" href="{{ 'contact'|page }}">Contacto</a></li>
                  <li><a class="grey-text text-lighten-5" href="#!">Condiciones</a></li>
                </ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
            <h6 class="center-align">© 2016 Copyright | CMS</h6>
        </div>
	</div>
</footer>